html,
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}
a {
  display: flex;
  text-decoration: none;
  width: 100%;
  height: 100%;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  height: 100vh;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  background: #111111;
}
section {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
}

.landing-sec {
  display: flex;
  flex-grow: 1;
  width: 100%;
  background: #111111;
}
.leftsec {
  background: #ffb400;
  width: 100%;
  height: 100vh;
  clip-path: polygon(0 0, 20% 0, 45% 100%, 0% 100%);
}
.rightsec {
  background: #111111;
  width: 70%;
  height: 100vh;
}

.boxes {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 80%;
}

.description {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.des-content {
  width: 50%;
}
.des-content > h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 41px;
  color: #ffb400;
  line-height: 62px;
}
.des-content > p {
  font-weight: 500;
  text-align: left;
  font-size: 16px;
  color: #fff;
  line-height: 35px;
  font-family: "Open sans", sans-serif;
}
.navbar-container {
  display: flex;
  align-items: center;
  width: 20%;
  height: 100%;
}

.navbar-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  width: 90%;
  height: 50%;
}
.tooltip {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffb400;
  border-radius: 50%;
  transition: 0.3s ease;
}
.tooltip:hover {
  border-radius: 25%;
  transition: 0.3s ease;
}

.journey-sec {
  flex-grow: 1;
  width: 100%;
  background: yellow;
}

.skills-sec {
  flex-grow: 1;
  width: 100%;
  background: green;
}

.projects-sec {
  flex-grow: 1;
  width: 100%;
  background: orange;
}
.comment-sec {
  flex-grow: 1;
  width: 100%;
  background: #ffb400;
}
