html,
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  background-color: #111111;
  height: 100%;
  width: 100%;
}
a {
  display: flex;
  margin-right: 40px;
  text-decoration: none;
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: flex-end;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  height: 100vh;
  background: #111111;
}
section {
  display: flex;
  flex-flow: column;
  scroll-snap-align: start;
  width: 100%;
  height: 100%;
}

.landing-sec {
  display: flex;
  flex-grow: 1;
  width: 100%;
  background: #111111;
}
.leftsec {
  background: #ffb400;
  width: 100%;
  height: 100vh;
  clip-path: polygon(0 0, 20% 0, 45% 100%, 0% 100%);
}
.rightsec {
  background: #111111;
  width: 70%;
  height: 100vh;
}

.boxes {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;

  height: 80%;
}

.description {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.des-content {
  width: 50%;
}
.des-content > h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.8rem;
  color: #ffb400;
  line-height: 62px;
}

.des-content > p {
  font-weight: 500;
  text-align: left;
  font-size: 16px;
  margin-top: 10px;
  color: #fff;
  line-height: 35px;
  font-family: "Open sans", sans-serif;
}
.navbar-container {
  display: flex;
  align-items: center;
  width: 20%;
  height: 80%;
}

.navbar-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  width: 100%;
  height: 50%;
}
.tooltip {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #111111;
  border-radius: 25px;
  color: #111111;
  transition: all 0.6s !important;
}
.tooltip:hover {
  box-shadow: inset -200px 0px 0px #ffb400;
  color: #111111;
}

.tracker-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.journey-header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.8rem;
  color: #ffb400;
  line-height: 62px;
  margin-top: 10%;
}

.journey-sec {
  flex-grow: 1;
  width: 100%;
  background-color: #111111;
}

.skills-sec {
  flex-grow: 1;
  width: 100%;
  background-color: #111111;
}

.projects-sec {
  flex-grow: 1;
  width: 100%;
  background-color: #111111;
}
.comment-sec {
  flex-grow: 1;
  width: 100%;
  background: #111111;
}

.scrollToTopBtn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: block;
  padding: 25px;
  cursor: pointer;
  transform: translateY(100px);
  opacity: 0;
  transition: transform 0.5s, opacity 0.3s;
}

.showScrollBtn {
  transform: translateY(0);
  opacity: 1;
}

.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: larger;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}

.stepper-item.active {
  font-weight: bold;
}

.stepper-item.completed .step-counter {
  background-color: #ffb400;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ffb400;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}

.resume-btn {
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  border-top: 1px solid #ffb400;
  border-left: 1px solid #ffb400;
  border-bottom: 1px solid #ffb400;
  border-radius: 25px;
  color: white;
  margin-top: 30px;
  box-shadow: inset 0 0 0 0 #ffb400;
  transition: ease-in-out 0.4s;
  cursor: pointer;
}

.resume-btn:hover {
  box-shadow: inset -400px 0 0 0 #ffb400;
  color: #111111;
}

.skill-container {
  display: grid;
  width: 85%;
  height: 70%;
  margin-top: 50px;
  grid-template-columns: repeat(4, 1fr);
}

.progressbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes growProgressBar {
  0%,
  33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
}

@property --pgPercentage {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

.animate {
  animation: growProgressBar 3s 1 forwards;
}

div[role="progressbar"] {
  --size: 8rem;
  --fg: #ffb400;
  --bg: #20201e;
  --pgPercentage: var(--value);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;

  background: radial-gradient(
      closest-side,
      #111111 85%,
      transparent 0 99.9%,
      #111111 0
    ),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  display: grid;
  place-items: center;
  font-size: calc(var(--size) / 5);
  color: white;
}

div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) "%";
}

.project-container {
  width: 80%;
  height: 80%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #111111;
  color: #ffb400;
}

/* Style the back side */
.flip-card-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #111111;
  border: 1px solid #ffb400;
  color: white;
  transform: rotateY(180deg);
}

.comment-container {
  width: 80%;
  height: 60%;
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

blockquote {
  font-family: Georgia, serif;
  font-size: 22px;
  font-style: italic;
  width: 500px;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #fff;
}
blockquote:before {
  display: block;
  content: "\201C";
  font-size: 130px;
  position: absolute;
  left: -50px;
  top: -70px;
  color: #929292;
}

blockquote cite {
  color: #ffb400;
  font-size: 18px;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014 \2009";
}

.footer {
  width: 80%;
  border-top: 1px solid rgb(116, 113, 113);
}

.footer-content {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links > p {
  color: #fff;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}
.footer-social > p {
  color: #fff;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}

.footer-social {
  display: flex;
  flex-direction: column;
}
